.parent {
    margin: 0px;
    padding: 0px;
} 
.titulo {
    font-family: liberation serif;
    height: 20px;
    
}
.respuetas {
    font-family: 'Times New Roman';
    height: 12;
    background-color: aqua;
}