.parent {
    margin: 0px;
    padding: 0px;
} 
.titulo {
    font-family: liberation serif;
    height: 20px;
    background-color: cadetblue;
}
.respuestas {
    font-family: 'Times New Roman';
    height: 12;
    background-color: crimson;
}